.App {
  /* text-align: center; */
}
.form{
  width: 45%;
  margin: 2% auto;
  padding: 3% 4%;
  border: 1px solid #eee;
  border-radius: 7px;
}
.form div label{
  display: block;
}
.form h1{
  color: rgb(148, 146, 146);
  font-weight: 300;
}
.form input[type="text"],input[type="email"],input[type="date"]{
  width: 95%;
  padding: 2.5% 2%;
  margin: 3% 0 3% 0;
}
.form input::placeholder{
  color: gray;
}
.flex{
  width: 94%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
}
.inputArea{
  width: 90%;
}

.form #fName{
  margin-right: 4px;
}
.form #fatherFName, #motherFName{
  margin-right: 4px;
}
.form .gender{
  display: inline;
}
