.App {
  /* text-align: center; */
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.form{
  width: 50%;
  margin: 2% auto;
  padding: 5% 2%;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 4px 3px 8px 2px #808080;
}

.form input, textarea{
  padding: 4px 8px;
  margin: 4%;
}
#error{
  color: red;
}

.showres{
  width: 100%;
  margin: 8% auto;
  padding: 5% 2%;
  border-radius: 7px;
  background-color: #eee;
  box-shadow: 4px 3px 8px 2px #808080;
}
.showres table{
  width: 100%;
  padding: 3%;
  
}
.showres td{
  padding: 1.5% 2%;
}
/* .btn{
 
  background-color: #afacac;
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
} */